:root {
    --nav-title-font-size: 3rem;
    --nav-title-font-weight: bold;
    --nav-link-font-weight: 300;
}
.header-title {
    color: var(--color-text-light);
    text-decoration: none;
    font-size: var(--nav-title-font-size);
    font-weight: var(--nav-title-font-weight);
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
}

.header-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.header-nav ul li {
    list-style: none;
    position: relative;
}
.header-nav ul li::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: left;
    transform: scale(0);
    transition: transform 0.5s;
}
.header-nav ul li:hover::before {
    transform: scale(1);
}
.header-nav li a {
    text-decoration: none;
    color: var(--color-text-light);
    font-weight: var(--nav-link-font-weight);
    padding: 1rem;
}
.header-nav-link::before {
    border-bottom: 1px soloid white;
}
.header-nav li a:hover,
header-title:hover {
    color: white;
}

.btn-row {
    display: flex;
    align-items: flex-start;
}

.btn-row > * {
    margin-left: 1rem;
}

.btn-row > *:first-child {
    margin-left: 0;
}
